button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  font-family: 'Fugaz One', cursive;
  color: #4A3934;
}

.selected {
  color: #FEFFC0;
}

.not-selected {
  color: #4A3934;
}